In [15]:
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd

In [16]:
df = pd.read_csv('Example_Apriori.csv')

In [17]:
df

   Tid       Items
0   10     A, C, D
1   20     B, C, E
2   30  A, B, C, E
3   40        B, E

In [19]:
for i in range(len(df)):
    df['Items'][i] = df['Items'][i].split(', ')
df

C:\Python_VSCode_TU\data\tmp\ipykernel_10064\3154408096.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Items'][i] = df['Items'][i].split(', ')
C:\Python_VSCode_TU\data\tmp\ipykernel_10064\3154408096.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Items'][i] = df['Items'][i].split(', ')
C:\Python_VSCode_TU\data\tmp\ipykernel_10064\3154408096.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Items'][i] = df['Items'][i].split(', ')
C:\Python_VSCode_TU\data\tmp\ipykernel_10064\3154408096.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Items'][i] = df['Items'][i].split(', ')

   Tid         Items
0   10     [A, C, D]
1   20     [B, C, E]
2   30  [A, B, C, E]
3   40        [B, E]

In [21]:
df['Items'].str.join('|')

0      A|C|D
1      B|C|E
2    A|B|C|E
3        B|E
Name: Items, dtype: object

In [23]:
oht = df['Items'].str.join('|').str.get_dummies()
oht

   A  B  C  D  E
0  1  0  1  1  0
1  0  1  1  0  1
2  1  1  1  0  1
3  0  1  0  0  1

In [25]:
frequent_itemsets = apriori(oht, min_support=0.5, use_colnames=True)
frequent_itemsets

c:\Python_VSCode_TU\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

   support   itemsets
0     0.50        (A)
1     0.75        (B)
2     0.75        (C)
3     0.75        (E)
4     0.50     (C, A)
5     0.50     (C, B)
6     0.75     (B, E)
7     0.50     (C, E)
8     0.50  (C, B, E)

In [26]:
association_rules_df = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.8)
association_rules_df

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(A),(C),0.50,0.75,0.50,1.0,1.333333,0.1250,inf,0.5
1,(B),(E),0.75,0.75,0.75,1.0,1.333333,0.1875,inf,1.0
2,(E),(B),0.75,0.75,0.75,1.0,1.333333,0.1875,inf,1.0
3,"(C, B)",(E),0.50,0.75,0.50,1.0,1.333333,0.1250,inf,0.5
4,"(C, E)",(B),0.50,0.75,0.50,1.0,1.333333,0.1250,inf,0.5